@media screen and (min-width: 800px) {
  .studiestartcol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    margin-bottom: 40px;

    translate: 5%;
    text-align: left;
    gap: 30px;
  }

  .studiestartimg {
    width: 60%;
    translate: 150px;
  }

  .studiestartimg1 {
    width: 80%;
  }

  .studiestarttxt {
    translate: -90px;
  }

  .uxui {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 40px;
    margin-top: 60px;
    gap: 10px;
    margin-bottom: 0px;
  }

  .styletile {
    width: 110%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .animationlayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 40px;
    gap: 20px;
    margin-bottom: 120px;
  }

  .animationlayout1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-left: 40px;
    margin-top: 60px;
  }

  .parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 76px;
    left: 14px;
    width: 58%;
  }
  .image2 {
    position: absolute;
    top: 23px;
    left: 105px;
    width: 47%;
  }
  .image3 {
    top: 3%;
    width: 80%;
  }

  .indholdlayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 40px;
    gap: 40px;
  }

  .tantemood {
    width: 50%;
  }
  .tantere {
    width: 70%;
    margin-left: 40px;

    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ommig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 0px;
    margin-top: 60px;
    margin-bottom: 30px;
    gap: 30px;
  }
  .mentha {
    width: 60%;
  }
}
